body {
  background-color: $background-premier;
  color: $color-black;

  font-family: $font-family-premier;
  font-size: 12px;
}

.scroll-off {
  overflow: hidden;
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}
