.preloader {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  transition: all 1000ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.preloader_loader,
.preloader__percents {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.preloader__percents {
  font-family: Arial, Helvetica, sans-serif;
  color: red;
  font-size: 20px;
  font-weight: bold;
}

.preloader--hide {
  display: none;
  visibility: hidden;
  z-index: -1;
}

@-webkit-keyframes ldio-oeu8ysdcwcf {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(22.5deg);
  }
  100% {
    transform: rotate(45deg);
  }
}

@keyframes ldio-oeu8ysdcwcf {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(22.5deg);
  }
  100% {
    transform: rotate(45deg);
  }
}
.ldio-oeu8ysdcwcf > div {
  transform-origin: 66px 66px;
  -webkit-animation: ldio-oeu8ysdcwcf 0.253164557s infinite linear;
          animation: ldio-oeu8ysdcwcf 0.253164557s infinite linear;
}

.ldio-oeu8ysdcwcf > div div {
  position: absolute;
  width: 14.52px;
  height: 100.32px;
  background: red;
  left: 66px;
  top: 66px;
  transform: translate(-50%, -50%);
}

.ldio-oeu8ysdcwcf > div div:nth-child(1) {
  width: 79.2px;
  height: 79.2px;
  border-radius: 50%;
}

.ldio-oeu8ysdcwcf > div div:nth-child(6) {
  width: 52.8px;
  height: 52.8px;
  background: black;
  border-radius: 50%;
}

.ldio-oeu8ysdcwcf > div div:nth-child(3) {
  transform: translate(-50%, -50%) rotate(45deg);
}

.ldio-oeu8ysdcwcf > div div:nth-child(4) {
  transform: translate(-50%, -50%) rotate(90deg);
}

.ldio-oeu8ysdcwcf > div div:nth-child(5) {
  transform: translate(-50%, -50%) rotate(135deg);
}

.loadingio-spinner-gear-l1hp8exwp8 {
  width: 132px;
  height: 132px;
  display: inline-block;
  overflow: hidden;
  background: none;
}

.ldio-oeu8ysdcwcf {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  transform-origin: 0 0;
}

.ldio-oeu8ysdcwcf div {
  box-sizing: content-box;
}

body {
  background-color: #ffffff;
  color: #000000;
  font-family: Roboto, sans-serif;
  font-size: 12px;
}

.scroll-off {
  overflow: hidden;
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  margin: 0 auto;
  padding: 0 20px;
  width: 100%;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    padding: 0 32px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
  }
}

.header {
  color: color-white;
  width: 100%;
  margin: 0 auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #000000;
  padding-top: 40px;
  padding-bottom: 44px;
  background-image: url("../images/header_mobile.jpg");
}
@media (min-device-pixel-ratio: 2) and (max-width: 768px), (-webkit-min-device-pixel-ratio: 2) and (max-width: 768px), (min-resolution: 192dpi) and (max-width: 768px), (min-resolution: 2dppx) and (max-width: 768px) {
  .header {
    background-image: url("../images/header_mobile@2x.jpg");
  }
}
@media screen and (min-width: 768px) {
  .header {
    background-image: url("../images/header_tablet.jpg");
  }
}
@media (min-device-pixel-ratio: 2) and (min-width: 768px), (-webkit-min-device-pixel-ratio: 2) and (min-width: 768px), (min-resolution: 192dpi) and (min-width: 768px), (min-resolution: 2dppx) and (min-width: 768px) {
  .header {
    background-image: url("../images/header_tablet@2x.jpg");
  }
}
@media screen and (min-width: 1200px) {
  .header {
    background-image: url("../images/header_desktop.jpg");
  }
}
@media (min-device-pixel-ratio: 2) and (min-width: 1280px), (-webkit-min-device-pixel-ratio: 2) and (min-width: 1280px), (min-resolution: 192dpi) and (min-width: 1280px), (min-resolution: 2dppx) and (min-width: 1280px) {
  .header {
    background-image: url("../images/header_desktop@2x.jpg");
  }
}

.header__box-nav {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 54px;
}
@media screen and (min-width: 768px) {
  .header__box-nav {
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 1280px) {
  .header__box-nav {
    margin-bottom: 42px;
  }
}

.site-nav__list {
  display: flex;
  align-items: center;
}

.home-page {
  margin-right: 40px;
}

.header__logo {
  display: flex;
  align-items: center;
}

.header__logo-title {
  font-weight: 500;
  font-size: 30px;
  line-height: 1.17;
  color: #ffffff;
  display: none;
}
@media screen and (min-width: 768px) {
  .header__logo-title {
    display: block;
    padding-left: 8px;
  }
}

.link {
  position: relative;
  display: flex;
  justify-content: center;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  text-transform: uppercase;
  color: #ffffff;
}

.link::after {
  content: "";
  position: absolute;
  display: flex;
  justify-content: center;
  width: 0%;
  height: 3px;
  left: 0;
  bottom: -4px;
  background-color: #ff001b;
  transition: width 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.current:after {
  width: 100%;
}

visited:after {
  background-color: #ff001b;
}

.link:focus:after,
.link:hover:after {
  width: 100%;
}

header__box-search {
  width: 100%;
  margin-bottom: 16px;
}
@media screen and (min-width: 768px) {
  header__box-search {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    text-align: center;
  }
}

.search-form {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 280px;
}
@media screen and (min-width: 768px) {
  .search-form {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 336px;
  }
}
@media screen and (min-width: 1280px) {
  .search-form {
    width: 394px;
  }
}

.search-form__input {
  display: inline-block;
  width: 280px;
  height: 20px;
  padding: 1px 3px;
  margin-bottom: 16px;
  outline: none;
  border: none;
  border-bottom: 0.5px solid #ffffff;
  background: transparent;
  font-size: 14px;
  line-height: 1.14;
  color: #ffffff;
}
@media screen and (min-width: 768px) {
  .search-form__input {
    width: 336px;
    height: 20px;
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 1280px) {
  .search-form__input {
    width: 394px;
    height: 20px;
    margin-bottom: 20px;
  }
}

.search-form__input::-moz-placeholder {
  font-size: 14px;
  line-height: 1.14;
  color: #ffffff;
}

.search-form__input:-ms-input-placeholder {
  font-size: 14px;
  line-height: 1.14;
  color: #ffffff;
}

.search-form__input::placeholder {
  font-size: 14px;
  line-height: 1.14;
  color: #ffffff;
}

.search-form__btn {
  top: 4px;
  right: 0;
  position: absolute;
  display: inline-block;
  width: 15px;
  height: 15px;
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.search-message {
  font-size: 14px;
  line-height: 1.14;
  color: #ff001b;
}
@media screen and (min-width: 768px) {
  .search-message {
    display: flex;
    justify-content: center;
  }
}

.hidden {
  visibility: hidden;
}

body {
  box-sizing: border-box;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: translate 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 1001;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.button-close {
  padding: 0;
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  border: none;
  background-image: url("../images/ep_close.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
@media screen and (min-width: 768px) {
  .button-close {
    width: 28px;
    height: 28px;
  }
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 280px;
  height: 100vh;
  padding: 48px 20px 40px 20px;
  overflow-y: auto;
  background-color: antiquewhite;
}
@media screen and (min-width: 768px) {
  .modal {
    width: 704px;
    height: 552px;
    padding: 40px 68px 40px 36px;
  }
}
@media screen and (min-width: 1024px) {
  .modal {
    width: 806px;
    height: 558px;
    padding: 40px 12px;
  }
}

.film-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
@media screen and (min-width: 768px) {
  .film-container {
    gap: 68px;
  }
}
@media screen and (min-width: 1024px) {
  .film-container {
    gap: 16px;
  }
}

.film-image {
  width: 240px;
  height: 357px;
  border-radius: 5px;
}
@media screen and (min-width: 768px) {
  .film-image {
    width: 264px;
    height: 373.55px;
  }
}
@media screen and (min-width: 1024px) {
  .film-image {
    width: 375px;
    height: 478px;
  }
}

.filmName {
  width: 240px;
  margin-bottom: 20px;
  font-family: Roboto;
  font-size: 20px;
  line-height: 1.172;
  font-weight: 500;
  letter-spacing: 0em;
  text-align: left;
}
@media screen and (min-width: 768px) {
  .filmName {
    width: 264;
    font-size: 20px;
    line-height: 1.172;
  }
}
@media screen and (min-width: 1024px) {
  .filmName {
    width: 391;
    font-size: 30px;
    line-height: 1.667;
  }
}

.button-watched,
.button-queue {
  width: 110px;
  height: 44px;
  cursor: pointer;
  background-color: #ffffff;
  color: #000000;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.333;
  letter-spacing: 0em;
  text-align: center;
  border: 1px solid #000000;
  border-radius: 5px;
}
@media screen and (min-width: 768px) {
  .button-watched,
.button-queue {
    width: 125.03px;
  }
}
@media screen and (min-width: 1024px) {
  .button-watched,
.button-queue {
    width: 136px;
  }
}

.button-watched {
  box-sizing: border-box;
}
@media screen and (min-width: 1024px) {
  .button-watched {
    margin-left: 8px;
  }
}

.button-queue {
  box-sizing: border-box;
  margin-left: 17px;
}
@media screen and (min-width: 768px) {
  .button-queue {
    margin-left: 14.94px;
  }
}
@media screen and (min-width: 1024px) {
  .button-queue {
    margin-left: 15px;
  }
}

.button-watched.hasAlready,
.button-queue.hasAlready,
.film-info__vote {
  background-color: #ff6b01;
  color: #fff;
  border: none;
}

.film-info__item {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.film-info__itemName,
.film-info__itemValue {
  font-family: Roboto;
  font-size: 12px;
  line-height: 1.333;
  font-weight: 500;
  letter-spacing: 0em;
  text-align: left;
}

.film-info__itemValue {
  width: 130px;
}
@media screen and (min-width: 768px) {
  .film-info__itemValue {
    width: 114px;
  }
}
@media screen and (min-width: 1024px) {
  .film-info__itemValue {
    width: 220px;
  }
}

.film-info__itemName {
  width: 110px;
  color: #8c8c8c;
}
@media screen and (min-width: 1024px) {
  .film-info__itemName {
    width: 152px;
  }
}

.film-info__itemValue.small {
  color: #000000;
  line-height: 1.171;
}

.film-info__vote,
.film-info__votes {
  display: inline-block;
  padding-top: 2px;
  width: 36px;
  height: 16px;
  border-radius: 5px;
  text-align: center;
}

.film-info__votes {
  margin-left: 3px;
}

.film-info__desc {
  overflow-y: auto;
  margin-bottom: 20px;
  width: 240px;
  font-family: Roboto;
  font-size: 12px;
  line-height: 1.667;
  font-weight: 500;
  letter-spacing: 0em;
  text-align: left;
}
@media screen and (min-width: 768px) {
  .film-info__desc {
    width: 264px;
  }
}
@media screen and (min-width: 1024px) {
  .film-info__desc {
    width: 391px;
  }
}

.cards {
  max-width: 1280px;
  margin: 20px auto;
}

.cards__list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .cards__list {
    gap: 32px;
  }
}
@media screen and (min-width: 1280px) {
  .cards__list {
    gap: 16px;
  }
}

.rating {
  background-color: #ff6b08;
  border-radius: 5px;
  padding: 0 10px;
  color: #ffffff;
}

.section-content {
  min-height: calc(100vh - 300px);
  padding: 20px 0 40px;
  position: relative;
}
@media screen and (min-width: 768px) {
  .section-content {
    padding: 60px 0;
  }
}

.content__list {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .content__list {
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
  }
}
@media screen and (min-width: 1280px) {
  .content__list {
    grid-template-columns: repeat(3, 1fr);
    -moz-column-gap: 16px;
         column-gap: 16px;
    row-gap: 32px;
  }
}

.content__item {
  position: relative;
  text-align: left;
  font-weight: 500;
  line-height: 1.167;
  width: 280px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 8px 8px rgba(0, 0, 0, 0.06), 5px 5px 5px rgba(0, 0, 0, 0.16);
}
@media screen and (min-width: 768px) {
  .content__item {
    width: 336px;
  }
}
@media screen and (min-width: 1280px) {
  .content__item {
    width: 395px;
  }
}

.content__img {
  display: block;
  max-width: 280px;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 10px;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .content__img {
    max-width: 336px;
  }
}
@media screen and (min-width: 1280px) {
  .content__img {
    max-width: 395px;
  }
}

.box-description {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  cursor: pointer;
  padding: 0 5px 5px;
}
@media screen and (min-width: 768px) {
  .box-description {
    font-size: 12px;
    line-height: 1.333;
  }
}
@media screen and (min-width: 1280px) {
  .box-description {
    font-size: 20px;
    line-height: 1.2;
  }
}

.content__title {
  color: #000000;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.167;
}
@media screen and (min-width: 768px) {
  .content__title {
    font-size: 12px;
    line-height: 1.333;
  }
}
@media screen and (min-width: 1280px) {
  .content__title {
    font-size: 20px;
    line-height: 1.2;
  }
}

.content__text {
  color: #ff6b08;
  line-height: 1.333;
}

.content__popularity {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 50px;
  height: 20px;
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background-color: #ff6b08;
  color: #ffffff;
}

.end-collection-text,
.error-server {
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  margin: 30px 0;
}/*# sourceMappingURL=index.css.map */