// Fonts

$font-family-premier: Roboto, sans-serif;

// Colors

$background-premier: #ffffff;
$background-footer: #f7f7f7;

$color-white: #ffffff;
$color-black: #000000;
$color-orange: #ff6b08;
$color-red: #ff001b;
$color-grey: #545454;

// Transitions

// Breakpoints

$mobile: 480px;
$tablet: 768px;
$desktop: 1280px;
